<!doctype html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task manager</title>
  </head>
  <body>
    <h1>Task manager</h1>

    <h2>login</h2>

    <button onclick="window.location.href = '/login'">login</button>

    <h2>Sign up</h2>

    <button onclick="window.location.href = '/registration'">
      registration
    </button>

    <br />
    <br />

    <button onclick="window.location.href = '/logout'">logout</button>

    <br />
    <br />
    <button onclick="window.location.href = '/profile'">profile</button>

    <br />
    <br />
    <button onclick="window.location.href = '/Admin'">Admin</button>
  </body>
</html>
