<!doctype html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moje stránka</title>
  </head>
  <body>
    <h2>login</h2>
    <br />

    <form id="loginForm">
      <label for="loginName">name:</label><br />
      <input type="text" id="loginName" name="name" /><br />

      <label for="loginPassword">password:</label><br />
      <input type="password" id="loginPassword" name="password" />

      <button type="submit">login</button>

      <p id="msg"></p>

      <br />
      <br />
      <br />
      <button onclick="window.location.href = '/'">home</button>

      <br />
      <br />
      <button onclick="window.location.href = '/profile'">profile</button>
    </form>

    <script>
      const nameInput = document.getElementById("loginName");
      const passwordInput = document.getElementById("loginPassword");
      const textOut = document.getElementById("msg");
      const loginForm = document.getElementById("loginForm");

      // pro Admin

      const params = new URLSearchParams(window.location.search);
      const message = params.get("msg");

      loginForm.addEventListener("submit", (event) => {
        event.preventDefault();

        fetch("/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            name: nameInput.value,
            password: passwordInput.value,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              window.location.href = "/profile";
            } else {
              textOut.textContent = data.message;
              textOut.style.color = "red";
            }
          })

          .catch(() => {
            textOut.textContent = "Chyba spojení se serverem";
            textOut.style.color = "red";
          });
      });

      if (message) {
        textOut.textContent = message;
        textOut.style.color = "red";
      }
    </script>
  </body>
</html>
